version: '3.8'
services:
  vprodb:
    build: 
      context: ./Docker-files/db
    image: spikey21/vprofile-db
    container_name: vprodb
    ports:
      - "3306:3306"
    volumes:
      -vprodbdata:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=vprodbpass
  vprocache01:
    image: memcached
    ports:
      - "11211:11211"
  
  vpromq01:
    image: rabbitmq
    ports:
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

